@font-face {
    font-family: 'ReCharter';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Charter'), url('/fonts/Charter-Regular.woff2') format('woff2');
}

 @font-face {
    font-family: 'ReCharter';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Charter'), url('/fonts/Charter-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'ReCharter';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: local('Charter'), url('/fonts/Charter-Italic-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'ReCharter';
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: local('Charter'), url('/fonts/Charter-Italic-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'ReInconsolata';
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Ensures text is visible while font loads */
    src: local('Inconsolata'), url('/fonts/Inconsolata-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'ReInconsolata';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Inconsolata'), url('/fonts/Inconsolata-Bold.woff2') format('woff2');
}


html {
    --background-color: #1c1e26;
    --background-alt-color: #242630;
    --box-border-radius: calc(1rem / 4);
    --highlight-alt-color: #51aaac;
    --highlight-color: #65d7d9;
    --inline-border-radius: calc(1rem / 8);
    --emphasis-color: #dc7279;
    --font-size: 16px;
    --text-alt-color: #b7b7b7;
    --text-alt-color-2: #a8a8a8;
    --text-alt-color-3: #9b9b9b;
    --text-color: #e5e5e5;
    --text-highlight-padding: var(--text-highlight-padding);

    background-color: var(--background-color);
    box-sizing: border-box;
    color: var(--text-color);
    font-size: var(--font-size);
    font-family: "ReCharter", serif;
    line-height: 1.4;
    tab-size: 4;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--highlight-color);
    padding: var(--text-highlight-padding);
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
    background-color: var(--highlight-alt-color);
    border-radius: var(--inline-border-radius);
}

a:active {
    color: var(--highlight-color)
}

blockquote {
    background: var(--background-alt-color);
    border-radius: var(--box-border-radius);
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

code {
    color: var(--text-alt-color-3);
    font-weight: bold;
    background-color: var(--background-alt-color);
    border-radius: var(--inline-border-radius);
    padding-left: var(--text-highlight-padding);
    padding-right: var(--text-highlight-padding);
    font-family: 'ReInconsolata', 'Consolas', monospace;
}

pre {
    border-radius: var(--box-border-radius);
    overflow-x: auto;
    padding: 1rem;
}

hr {
    color: var(--text-alt-color);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}


h2 {
    color: var(--text-alt-color)
}

h3 {
    color: var(--text-alt-color-2)
}

h4 {
    color: var(--text-alt-color-3)
}


table {
    border: 1px solid var(--text-color);
    border-radius: var(--box-border-radius);
}

thead {
    border-bottom: 1px solid var(--text-color);
    margin-top: 1rem;
}

th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

td {
    padding-left: 0.5rem;
    width: 44ch;
}

tr:last-child td {
    padding-bottom: 0.5rem;
}


/* layout */
/**********/

.page-title {
    margin-top: 0;
}

.page-title-date {
    color: var(--text-alt-color);
    font-size: var(--font-size);
    font-weight: normal;
}


/* trim margins on small screens */
@media screen and (max-width: 480px) {
    .page-body {
        --toplevel-margin: 1rem;
    }
}

@media screen and (min-width: 480px) {
    .page-body {
        --toplevel-margin: 2rem
    }
}

.page-body {
    display: grid;
    flex-direction: column;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    margin: var(--toplevel-margin);
    /* forces content to fill entire page vertically.
     * Since we're adding margin around this on both the top and the bottom of this
     * container, substract it so that the added margin doesn't create a scrollbar 
    */
    min-height: calc(100vh - 2*var(--toplevel-margin));
}

.page-header nav {
    display: flex;
    flex-flow: row wrap;
    grid-area: "header";
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.page-header nav a:first-child {
    border-top: 2px solid;
    font-style: normal;
    font-family: 'ReInconsolata', 'Consolas', monospace;
}

.page-header nav a {
    font-style: italic;
    margin-right: 1rem;
    /* prevent the added padding on hover from moving the items */
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.page-header nav a:hover {
    /* prevent italics from poking through the hover box */
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.page-main {
    grid-area: "main";
    max-width: 88ch;
    margin: 0 auto;
    overflow-x: auto;
    width: 100%;
}

#page-main {
    display: flex;
    flex-flow: row wrap;
    grid-area: "footer";
    justify-content: space-between;
    margin-top: 2rem;
}
