<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ $css := "css/styles.css" | relURL }}
    <link rel="stylesheet" href="{{ $css }}">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
  </head>
  <body class="page-body">
    <header class="page-header">
      <nav>
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name | safeHTML }}</a>
        {{ end }}
      </nav>
    </header>
    <main class="page-main">
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="page-footer">
      <form
        action="https://buttondown.com/api/emails/embed-subscribe/anderspoirel"
        method="post"
        class="buttondown-form"
      >
        <label for="email">Newsletter:</label>
        <input type="email" name="email" placeholder="you@example.com" />
        <input type="hidden" value="1" name="embed" />
        <input type="submit" value="Subscribe"/>
      </form>
      <p>© 2022-{{ now.Format "2006" }} by Anders Poirel</p>
    </footer>
  </body>
</html>
