<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ relURL "css/styles.css" }}">
    <script src="{{ relURL "js/theme.js" }}" defer></script>
    <script type="module"
      src="{{ relURL "vendor/justif-0.9.1.min.js" }}"
      data-justif-selector=".page-main article > p:not(.page-title-date), .page-main > p:not(.blog-description), .blogroll-content > p"
    ></script>
    <title>{{ .Title }} - {{ .Site.Title }}</title>
  </head>
  <body class="page-body">
    <header class="page-header">
      <nav>
        <div class="nav-home">
          {{ range first 1 .Site.Menus.main }}
          <a href="{{ .URL }}">{{ .Name | safeHTML }}</a>
          {{ end }}
        </div>
        <div class="nav-pages">
          {{ range after 1 .Site.Menus.main }}
          <a href="{{ .URL }}">{{ .Name | safeHTML }}</a>
          {{ end }}
          <div class="theme-switch" role="group" aria-label="Color theme">
            <button type="button" data-theme="light" aria-pressed="false" onclick="setTheme('light')">○light</button> |
            <button type="button" data-theme="dark" aria-pressed="true" onclick="setTheme('dark')">●dark</button>
          </div>
        </div>
      </nav>
    </header>
    <main class="page-main">
      {{ block "main" . }}{{ end }}
    </main>
    <div class="page-bottom-separator"><span>***</span></div>
    <footer class="page-footer">
      <p>Comments? <a href="mailto:contact@anderspoirel.net">Send me an email.</a></p>
      <form
        action="https://buttondown.com/api/emails/embed-subscribe/anderspoirel"
        method="post"
        class="buttondown-form"
      >
        <label for="email">Get new posts:</label>
        <span>
          <input id="email" type="email" name="email" placeholder="you@example.com" />
          <input type="hidden" value="1" name="embed" />
          <input type="submit" value="Subscribe"/>
        </span>
      </form>
      <p>© 2022-{{ now.Format "2006" }} by Anders Poirel</p>
    </footer>
    <script>setTheme(document.documentElement.classList.contains('light') ? 'light' : 'dark');</script>
  </body>
</html>
