{{ define "main" }}

<p class="blog-description">
Hey! I'm <a href="{{ relref . "/about" }}">Anders Poirel</a>. I write about software
engineering, and in particular about building effective data systems.
</p>

{{ $posts := where .Site.RegularPages "Type" "posts" }}
{{ $favorites := where $posts "Params.favorite" true }}
{{ if $favorites }}
<h2>Featured posts</h2>

{{ range $favorites.ByPublishDate.Reverse }}
<p>{{ partial "list-item.html" . }}</p>
{{ end }}

<p class="view-all-posts"><a href="/posts">All posts →</a></p>
{{ end }}

{{ end }}
